
  #cutaway {
   display: flex;
   justify-content: center;
    height: 426px;
    width: 426px;
   
    background: 
    linear-gradient(-135deg, transparent 75px, #FFFFFF 0) top left,
    linear-gradient(45deg, transparent 75px, #FFFFFF 0) bottom left;
    background-size: 100% 50% ;
    background-repeat: no-repeat;
  }
 