.logo-container{
  display: flex;
  
  padding-top: 325px;
}

@media( max-width:424px){
    .logo-container{
        padding-top: 15px;            
    }
}
 

.two{
    display: flex;

    padding-left: 340px;
    padding-bottom: 60px;
}

@media( max-width:424px){
    .two{
         padding-left: 5px;         
    }
}

.brindley{
    display: flex;
   
    align-self: flex-end;
    margin-left: -308px;
    padding-bottom: 12px
}

@media( max-width:424px){
    .brindley{
        
        padding-left: 265px;         
    }
}

.place{
    display: flex;
   
    align-self: flex-end;
    padding-bottom: 10px;
    padding-left: 2px; 
}

@media( max-width:424px){
    .place{
        margin-bottom: -45px;
        margin-left: -85px;  
              
    }
}

.letter-spacing{
    padding-right: 0.5rem;
    }

   





