.logo-container{
width: 426px;
position: absolute;
bottom: 0;
right: 0;
}


/* two styling */
@media( max-width:375px){
    .two{
     padding-bottom: 50px;
     padding-right: 50px ;     
    }
}

@media( max-width:375px){
    #T{
    margin-left: 180px;     
    }
}
@media( min-width:376px){
    #T{
    margin-left: 357px;
       
    }
}

@media( max-width:375px){
    #W{
    margin-left: 200px;     
    }
}

@media( min-width:376px){
    #W{
    margin-left: 373px;   
    }
}

@media( max-width:375px){
    #O{
    margin-left: 235px;
    margin-top: -91px;  
    }
}

@media( min-width:376px){
    #O{
    margin-left:403px;
    margin-top: -90px;
       
    }
}

/* brindley styling */

@media( max-width:375px){
    .brindley{
     margin-bottom: 115px; 
     margin-left: 87px;      
    }
}


@media( max-width:375px){
    .place{
     padding-right: 100px;
     padding-bottom: 155px;   
    }
}



.logo{
margin-right: 25px;
margin-top: -100px;
}

#E{
    width: 13.94px;
    height: 38.39px;
    position: absolute;
    background-size: 100% 100%;
    margin-top: -45px;
    margin-left: 405px;
}

#C{
    width: 16.33px;
    height: 40.04px;
    position: absolute;
    background-size: 100% 100%;
    margin-top: -45px;
    margin-left: 383px;
}
#A{
    width: 19.86px;
    height: 38.39px;
    position: absolute;
    z-index: 99 !important;
    background-size: 100% 100%;
    margin-top: -45px;
    margin-left: 355px;
}
#L{
    width: 12.9px;
    height: 38.39px;
    position: absolute;
    background-size: 100% 100%;
    margin-top: -45px;
    margin-left: 330px;
}

#P{
    width: 15.35px;
    height: 38.39px;
    position: absolute;
    background-size: 100% 100%;
    margin-top: -45px;
    margin-left: 305px;
}

#Y{
    width: 19.86px;
    height: 38.39px;
    position: absolute;
    background-size: 100% 100%;
    margin-top: -45px;
    margin-left: 275px;
}

#E1{
    width: 18.72px;
    height: 38.39px;
    position: absolute;
    background-size: 100% 100%;
    margin-top: -45px;
    margin-left: 250px;
}

#L1{
    width: 12.9px;
    height: 38.39px;
    position: absolute;
    background-size: 100% 100%;
    margin-top: -45px;
    margin-left: 230px;
}

#D{
    width: 16.14px;
    height: 38.39px;
    position: absolute;
    background-size: 100% 100%; 
    margin-top: -45px;
    margin-left: 210px;
}

#N{
    width: 17.78px;
    height: 38.39px;
    position: absolute;
    background-size: 100% 100%;
    margin-top: -45px;
    margin-left: 190px;
}

#I{
    width: 4.39px;
    height: 38.39px;
    position: absolute;
    background-size: 100% 100%;
    margin-top: -45px;
    margin-left: 180px;
}

#R{
    width: 15.86px;
    height: 38.39px;
    position: absolute;
    background-size: 100% 100%;
    margin-top: -45px;
    margin-left: 160px;
}

#B{
    width: 15.62px;
    height: 38.39px;
    position: absolute;
    background-size: 100% 100%;
    margin-top: -45px;
    margin-left: 140px;
}

#O{
    width: 17.16px;
    height: 40.03px;
    position: absolute;
    background-size: 100% 100%;
}

#W{
    width: 29.62px;
    height: 38.39px;
    position: absolute;
    background-size: 100% 100%;
    margin-top: -90px;
}

#T{
    width: 14.97px;
    height: 38.39px;
    position: absolute;
    background-size: 100% 100%;
    margin-top: -90px;
}


