.logo-container{
  display: flex;
  max-width: 426px;
  max-height: 426px;
}

.two{
    display: flex;
    flex-direction: row;
    align-self: flex-end;
    padding-left: 340px;
    padding-bottom: 60px;
}

.brindley{
    display: flex;
    flex-direction: row;
    align-self: flex-end;
    margin-left: -308px;
    padding-bottom: 12px
}

.place{
    display: flex;
    flex-direction: row;
    align-self: flex-end;
    padding-bottom: 10px;
    padding-left: 2px; 
}
/* two */
#T{
    padding-right: 0.5rem;
    }

    #W{
        padding-right: 0.5rem;
        }

/* place */
#P{
padding-right: 0.5rem;
}
#L{
    padding-right: 0.5rem;
}
#A{
    padding-right: 0.5rem;
}
#C{
    padding-right: 0.5rem;
}

#E{
    padding-right: 0.8rem;
}

/* brindley? */
.brindleyletters{
    padding-right: 0.5rem;
}






