
.Nav{
    padding-top: 56px;
   margin-Right: 100px;  
}

.list{
    margin: 0px;
    list-Style: none;
    display: flex;
    flex-Direction: row;
    justify-Content: flex-end; 
    padding: 0px;
}

.navbar-item a {
    color: #fff;
    text-decoration: none;
    font-weight: 500;
    font-size: 16px;
    font-family: "archivo";
  }

  #downloads{
      margin-top:  0;
      margin-left:  2.5rem ;
      margin-right:  2.5rem ;
  }

  @media( max-width:440px){
      .Nav{
          margin-right: 0px;
      }
  }

  @media( max-width:440px){
    .list{
        margin-right: 25px;
    }
}


@media( max-width:375px){
    #downloads{
        margin-right: 15px;
        margin-left: 15px;
    }
}



@media( max-width:315px){
    .list{
        display: block;
        padding-left: 1rem;
    }
}

@media( max-width:315px){
    .navbar-item{
        padding-top: 0.2rem;
        padding-bottom: 0.2rem;
    }
}

@media( max-width:315px){
    #downloads{
        margin-left: 0;
    }
}








  