
.Nav{
    padding-top: 56px;
    list-style: none;
   display: flex;
   flex-direction: row;
   justify-content: flex-end;
   margin-Right: 100px;  
}

.list{
    margin: 0px;
    list-Style: none;
    display: flex;
    flex-Direction: row;
    justify-Content: flex-end; 
    padding: 0px;
}

.navbar-item a {
    color: #fff;
    text-decoration: none;
    font-weight: 500;
    font-size: 16px;
    font-family: "archivo";
  }

  @media( max-width:425px){
    .list{
        margin-right: 50px;
    }
}


  @media( max-width:375px){
    .list{
        margin-right: 25px;
    }
}


@media( max-width:320px){
    .list{
        margin-right: 0px;
    }
}




  