
.Nav{
   display: flex;  
    Width :360px;
    Height: 25px;
    justify-content: space-around;
    margin-top: 56px;
    margin-left: 25px;
}

.icon{margin-top: -5px;
    color: white;
    font-family: "archivo";  
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 17px;
    text-align: right;
}