.terms{
    color: white;
    font-weight: 500;
    font-size: 16px;
    line-height: 17px;
    font-family: "archivo";
    margin: auto;
}

.terms-container{
padding-left: 98px;
padding-top: 964px;
}
