.terms{
    color: white;
    font-weight: 500;
    font-size: 16px;
    line-height: 17px;
    margin-left: 95px;
    font-family: "archivo";
    margin: auto;
}

.terms-container{
margin-top: 700px;
margin-left: 90px;
}
